import socket
import pyfiglet
import termcolor
from colorama import init, Fore


init()
GREEN = Fore.GREEN
RESET = Fore.RESET

ascii_banner = pyfiglet.figlet_format("PORT SCANNER")
print(termcolor.colored(ascii_banner, 'green'))


def scan(target,ports):
    print('\n****************************Starting scan for ' + str(target) + '*************************')
    for port in range(1,ports):
        scan_port(target,port)

def scan_port(ipaddress,port):
    try:
        sock = socket.socket()
        sock.connect((ipaddress,port))
        print(GREEN +'[+] port opened ' + str(port)+  RESET)
        sock.close()

    except:
        print('[-] port closed ' + str(port))
        pass





targets = input('[*] Enter Target to scan(spilt them by ,): ')
ports = int(input('[*] Enter How many ports to scan: '))

if  ',' in targets:
   print('[*] Scanning Multiple Targets')
   for ip_addr in targets.split(','):
       scan(ip_addr.strip(' '), ports)

else:
   scan(targets, ports)






